<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Temazcal</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    </head>
    <body>
        <header>
            <h2><a href="http://google.com">Temazcal</a></h2>
            <nav>
                <li><a href="#viajes">Qué es</a></li>
                <li><a href="#paquete">Paquete</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </nav>
        </header>

        <section class="hero">
            <div class="background-image" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087267/main_rpc9lf.jpg);"></div>
            <div class="hero-content-area">
                <h1>Temazcal</h1>
                <h3>Conoce el ritual</h3>
                <h3>Próximo evento: Sábado 26 de Mayo</h3>
                <a href="#contacto" class="btn">Quiero asistir</a>
            </div>
        </section>

        <section class="destinations">
            <a name="paquete"></a>
            <h3 class="title"> Temazcal (del náhuatl Temazcalli): casa de vapor <a name=viajes></a> </h3>
            <p>El Temazcal es una tradición ancestral en México... es la puerta de entrada a muchas ceremonias y tradiciones desde tiempos inmemorables. El Temazcal representa el vientre de la madre tierra, en el cual sus hijos tienen la oportunidad de regresar para poder "volver a nacer" y así curar su linaje y tomar fuerzas de la madre de todo. El ritual del Temazcal consiste en 4 puertas o etapas, en cada una de ellas trabajarás tu conexión específica con uno de los elementos y de los rumbos. Aire, fuego, agua, tierra... norte, sur, este y oeste... ancestros espirituales y madre tierra. Todos estos elementos acuden a la ceremonia del Temazcal para purificar no sólo el cuerpo a través de la sudoración sino el espíritu y la mente a través de la resistencia al calor, la intención y el canto.</p>
            <hr/>

            <ul class="grid">
                <li class="small" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087776/temazcal1_ds2wje.jpg);"></li>
                <li class="large" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087774/temazcal2_i3cbgk.jpg);"></li>
                <li class="large" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087790/temazcal3_iuqwbg.jpg);"></li>
                <li class="small" style="background-image: url(http://res.cloudinary.com/davidcalderon/image/upload/v1526087773/temazcal4_mgs2nq.jpg);"></li>
            </ul>
        </section>

        <section class="packages">
            <h3 class="title">¿Qué incluye el paquete?</h3>
            <p>Transporte hasta la casa de ceremonias, ritual de Temazcal tradicional, miel y fruta, comida vegetariana, transporte de regreso a la ciudad de México.</p>
            <hr>

            <ul class="grid">
                <li>
                    <i class="fa fa-compass fa-4x"></i>
                    <h4>Ubicación Secreta</h4>
                    <p>Una hermoso recinto de trabajo espiritual, camino a Tequisquiapan, a una hora y media de la ciudad de México. Un lugar secreto donde se han realizado desde Temazcales hasta danzas al sol y a la luna. Un hermoso espacio al lado de un lago donde podremos celebrar el tradicional ritual del Temazcal</p>
                </li>
                <li>
                    <i class="fas fa-utensils fa-4x"></i>
                    <h4>Comida Vegetariana</h4>
                    <p>No importa si eres vegetariano o no, te prometemos que ésta será una de las comidas más ricas y saludables que probarás. Además después del Temazcal te daremos miel y fruta para que repongas la energía utilizada.</p>
                </li>
                <li>
                    <i class="fas fa-book-open fa-4x"></i>
                    <h4>Chamán, águila de fuego y abuelita</h4>
                    <p>Con nosotros para correr el ritual estará una Chamana experta con más de diez años de experiencia en México, y algunas ocasiones especiales nos acampañará nuestra nana, la abuelita. Ojo: no creas que por ser una abuelita el Temazcal será más suave, de hecho es todo lo contrario, las ceremonias con las abuelitas presentes son donde más se trabaja el cuerpo y el espíritu.</p>
                </li>
                <li>
                    <i class="fas fa-hand-holding-usd fa-4x"></i>
                    <h4>Precio y detalles importantes</h4>
                    <p>El paquete tiene un precio de <strong>$700 pesos mexicanos.</strong> Incluye todo lo anteriormente mencionado: transporte desde CDMX y de regreso, ritual de Temazcal, miel y fruta después del Temazcal, comida vegetariana. Salimos a las <strong>10 de la mañana</strong> y regresamos a las <strong>6 de la tarde.</strong>
                    Los lugares para tomar el transporte son:</p>
                    <p><a href="https://goo.gl/maps/Pnt1TsC9iWm"><i class="fas fa-map"></i></a>
                    1.- "Parque de República de Guatemala", en frente del Hostel Mundo Joven, de 8:20 a 8:50 am.</p>
                    <p><a href="https://goo.gl/maps/Y5j7TTZh9s62"><i class="fas fa-map"></i></a> 2.- Las letras CDMX en la "Fuente de Cibeles" de 9:30 a 10:00 am.</p>
                    <p>--Click en el mapita para las ubicaciones.</p>
                </li>
            </ul>
        </section>

        <section class="testimonials">
            <h3 class="title">Algunos de nuestros testimonios:</h3>
            <hr>
            <p class="quote">Descubrir a una persona maravillosa dentro de mi es la mejor satisfacción que me queda no solo un día, sino en cada paso, cada minuto, cada respiro que doy, me recuerda de donde vengo y para donde voy.</p>
            <p class="author">— Gabriela Caudillo</p>
            <p class="quote">Algunas personas usan su cuerpo como vehículo para ir a las juntas de trabajo. Es importante entrenar tu cerebro pero también es importante mantener un balance de salud corporal y espiritualidad (espiritualidad es conexión interior, no se refiere a religión). Gracias por la experiencia.</p>
            <p class="author">— Juan Castillo</p>
            <p class="quote">Al principio tenía mucho miedo por que no me gustan los espacios cerrados y pensé que el calor iba a ser demasiado fuerte para mi. Al final lo difruté muchísimo y ahora me siento con más fuerza y lista para nuevos retos. Chary fue un amor con nosotros al guiar el Temazcal.</p>
            <p class="author">— Gio Garcia</p>

        </section>

        <section class="contact">
            <a name="contacto"></a>
            <h3 class="title">¿Te gustaría asistir?</h3>
            <p>Mándanos un WhatsApp o llámanos para que te podamos platicar los beneficios del Temazcal y aclarar tus dudas. <strong><a href="tel:5215538281174">Click para llamar (55) 3828-1174</a></strong></p>
            <hr>

            <!--<form>-->
            <!--    <input type="email" placeholder="Email">-->
            <!--    <a href="#" class="btn">Más información</a>-->
            <!--</form>-->
        </section>

        <footer>
            <p>Revisa nuestro Facebook o nuestro canal de youtube</p>
            <ul>
                <li><a href="https://www.facebook.com/entrenamientofnx/"><i class="fab fa-facebook-square fa-2x"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCpd4KPYmVixK25d-Ab21vXw"><i class="fab fa-youtube-square fa-2x"></i></a></li>
            </ul>
        </footer>

    </body>
</html>